/**********
  * custom grid
 *********/

// grid breakpoints
$grid__bp-lg: 1024;
$grid__bp-md: 768;
$grid__bp-sm: 425;


// grid columns
$grid__cols: 10;

.grid-container {
 max-width: $grid__bp-lg * 1px;
 margin: 0 auto;
 width: 100%;
}


.grid-row {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}

@for $i from 1 through $grid__cols {
 .grid-#{$i} {
   flex-basis: (100 / ($grid__cols / $i) ) * 1%;
 }
}

// @media (min-width: $grid__bp-md * 1px) {
//  @for $i from 1 through $grid__cols {
//    .grid-md-#{$i} {
//      flex-basis: (100 / ($grid__cols / $i) ) * 1%;
//    }
//  }
// }


// mixin for media queries
@mixin create-query($bp) {
 @if($bp == 0) {
   @content;
 } @else {
   @media screen and (min-width: $bp *1px) {
     @content;
   }
 }
}

@mixin create-col($modifier, $grid__cols, $bp) {
 @include create-query($bp) {
   @for $i from 1 through $grid__cols {
     .grid-#{$modifier}-#{$i} {
       flex-basis: (100 / ($grid__cols / $i) ) * 1%;
     }
   }
 }
}


$map-grid-props: ('-sm': 0, '-md': $grid__bp-md, '-lg': $grid__bp-lg);
@each $modifier , $bp in $map-grid-props {
 @include create-col($modifier, $grid__cols, $bp);
}


// colors
$primary: #2c374c;
$accent: #c65379;
$error: #b94040;


.wrap {
  margin: -8px; // DO NOT LEAVE THIS
  background-color: $primary;
  background-position: right;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-image: url('/assets/images/bgs/united-kingdom-2.svg');
  min-height: 100vh;

  @media (min-width: 768px) {
    height: 100vh;
  }
}

app-search {
    display: flex;
    align-items: center;
    height: 100%;
}


// fonts
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}
