<div class="grid-container">
  <div class="grid-row">
    <div class="grid-10">
      <input #cityName type="text" class="input input__text-lg" placeholder="Search a UK City" />
    </div>
  </div>


<div class="grid-row" *ngIf="isSearching">
  <div class="grid-10 text-center searching-notification">

      <h4>Searching ... </h4>

  </div>
</div>

  <ng-container *ngIf="apiResponse == '404'; else elseTemplate">
      <div class="grid-row">
        <div class="grid-10 text-center">
            <div class="alert alert-danger" role="alert">
                <p>Please enter a valid UK city</p>

            </div>
        </div>
      </div>

  </ng-container>
  <ng-template #elseTemplate>

      <div class="grid-row weather-results">
        <div class="grid-10 grid--lg-2" *ngFor="let res of apiResponse['list'] | filter:'12:00:00'">
            <app-weather-cards [data]="res"></app-weather-cards>
        </div>
      </div>

  </ng-template>
</div>

