@import "../../assets/sass/global/_colors.scss";


.input {
  background-color: transparent;
  -webkit-appearance: none;
  border: none;
  border-bottom: 3px solid $accent;
  outline: none;
  color: white;
  &__text {
    &-lg {
      font-size: 2em;
      margin: 20px;

      @media(min-width: 768px) {
        font-size: 3em;
        margin: 0;
        width: 100%;
      }
    }
  }
}

.weather-results {
  margin-top: 40px;
}

.searching-notification {
  h4 {
    color: white;
  }
}

.alert {
  &.alert-danger {
    color: $error;
  }
}
